.artist-card {
    color: #ffffff;
}

.artist-card .name {
    display: block;
    border: 5px solid #c80000;
    text-align: center;
    padding: 12px 0;
    margin-bottom: 16px;
    color: #ffffff;
}

.artist-card img {
    width: 100%;
    margin-bottom: 16px;
}

.artist-card .description {
    border: 5px solid #c80000;
    padding: 15px;
}

.artist-card .image-container {
    display: block;
    height: 350px;
    width: 100%;
    overflow: hidden;
}