@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto-Regular.ttf");
  font-weight: 400;
}

body {
  font-family: Roboto;
  position: relative;
  min-height: 100vh;
}

nav {
  display: flex;
  justify-content: space-between;
}

.logo {
  height: 60px;
  width: auto;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

a .cart {
  width: 30px;
}

.topnav {
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: #c80000;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #000000;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

/* Page content */

.heading {
  text-transform: uppercase;
  text-align: center;
  margin-top: 12px;
  margin-bottom: 12px;
}

.artists-overview {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #000000;
  color: #ffffff;
  padding-top: 32px;
}

.artist-card {
  width: 400px;
  margin-bottom: 32px;
}

.artist-name {
  border: 5px solid #c80000;
  text-align: center;
  padding: 12px 0;
}

.artist-image {
  width: 100%;
  margin-bottom: 16px;
}

.artist-description {
  border: 5px solid #c80000;
  padding: 15px;
}

.value-proposition {
  background-color: #c80000;
  color: #ffffff;
  padding: 64px;
  border-left: 30px solid black;
  border-top: 30px solid black;
  border-right: 30px solid black;
  border-bottom: 62px solid black;
}

/* Footer */

footer {
  background: #c80000;
  height: auto;
  width: 100vw;
  padding-top: 40px;
  color: #ffffff;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  text-align: center;
}

.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
  margin-right: 20px;
}
.socials a {
  margin: 0 16px;
  text-decoration: none;
}
